@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:700|Volkhov:700|Hammersmith+One|Arbutus+Slab|Poppins:800|Questrial|Bungee+Outline|Josefin+Sans:700');
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	font-family: "Franklin Gothic Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	overflow: hidden;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Color schemes */
.demo-1 {
	--color-text: #fff;
	--color-bg: #101010;
	--color-link: #fff;
	--color-link-hover: #fff473;
	--color-nav: #fff;
	--color-bg-slide-1: #4cabef;
	--color-bg-slide-2: #0406e6;
	--color-bg-slide-3: #272526;
	--color-bg-slide-4: #b9b9b9;
	--color-bg-slide-5: #5900ce;
	--color-bg-slide-6: #1b1a1a;
	--color-bg-slide-7: #bf2525;
	--color-bg-slide-8: #d6d1d1;
	--color-bg-slide-9: #000000;
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

main {
	position: relative;
	width: 100%;
}

header {
	z-index: 101;
	position: absolute;
}

header img {
	min-height: 8%;
	min-width: 90px;
	  
	/* Set up proportionate scaling */
	width: 5%;
	height: auto;
	  
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 47%;
}

.fab {
	border: none;
	background-color: #ce0404;
	border-radius: 100%;
	padding: 25px;
	margin: 0;
	position: absolute;
	left: 48.5%;
	top: 65%;
	color: white;
	box-shadow: 0 0 1px rgb(114, 0, 0);
	box-sizing: border-box;
	width: 0;
	height: 0;
	z-index: 110;
 }
 
 .fa {
	 position: absolute;
	transform: translate(-50%, -50%);
  }

  .fab:hover {
	  transform: scale(1.05);
  }

  #share-t {
	width: 0;
	height: 0;
	border-top: 30px solid transparent;
	border-right: 50px solid #ce0404;
	border-bottom: 30px solid transparent;
	z-index: 103;
	position: absolute;
	top: 86%;
	right: 15%;
  }

  #share-t i{
	  z-index: 104;
	  position: absolute;
	  padding: 0 10%;
  }

  header {
	  display: flex;
	  width: 100vw;
	  height: auto;
  }

  address {
	  max-width: 20em;
	  padding: 25px;
  }

  .addr-cpt {
	  text-align: right;
	  position: absolute;
	  right: 1%;
  }

  .brands {
	filter:invert(100%);

	z-index: 100;
	min-height: 8%;
	min-width: 90px;
	  
	/* Set up proportionate scaling */
	width: 15%;
	height: auto;
	  
	/* Set up positioning */
	position: fixed;
	top: 85%;
	left: 0%;
  }

  .register {
	position: relative;
	margin: 0;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	padding: 1em;
	text-align: right;
	z-index: 10;
	cursor: default;
}
.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header header'
	'... ...'
	'github demos';
}


img {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	  
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	  
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}


.slide {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	z-index: 1;
}

.slide--current {
	opacity: 1;
	pointer-events: auto;
	z-index: 100;
}

.slide__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.slide__bg--1 {
	background: var(--color-bg-slide-7);
}

.slide__bg--2 {
	background: var(--color-bg-slide-7);
}

.slide__bg--3 {
	background: var(--color-bg-slide-7);
}

.slide__bg--4 {
	background: var(--color-bg-slide-7);
}

.slide__bg--5 {
	background: var(--color-bg-slide-7);
}

.slide__bg--6 {
	background: var(--color-bg-slide-7);
}

.slide__bg--7 {
	background: var(--color-bg-slide-7);
}

.slide__bg--8 {
	background: var(--color-bg-slide-7);
}



/* Word + SVG styles */
.word {
	position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 0.25em 0;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    grid-area: title;
    font-size: 10vw;
    font-weight: 400;
}
.intro {
	z-index: 10;
	color: white;
	text-align: center;
	max-width: 30em;
	font-size: 1.3em;
	position: absolute;
	top: 50%;
	left: 30%;
	
}
cite {
	color: white;
	z-index: 11;
	position: absolute;
	left: 46%;
	top: 40%;;
	font-size: 0.9em;
}
.word span {
	display: block;
	position: relative;
	flex: none;
	white-space: pre;
}

.word--1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 3em;
	margin: -1em 0 0 0;
}


.shapes {
	position: fixed;
	top: 0;
	left: 0;
}

#share-t i {
	font-size:24px;
	color:white; 
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 111;
	top: 30%;
	left: 0%;
	padding: 1em;
	
}

#share-t {
	right: 5%;
	top: 60%;
}

@media only screen and (max-width: 1440px) and (max-height: 1124px) {
	body {
		font-size: 1.3em;
	}
	header {
		position: fixed;
		width: 97vw;
	}
	header img {
		min-height: 10%;
		min-width: 125px;
		left: 47%;
	}
	.addr-cpt {
		right: 1%;
	}
	.word {
		font-size: 2em;
	}
	.intro {
		left: 20%;
	}
	cite {
		left: 44%;
	}
	.fab {
		left: 48%;
	}
	#share-t {
		right: 5%;
		top: 70%;
	}
	#share-t i {
		font-size:24px;
		color:white; 
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 111;
		top: 30%;
		left: 0%;
		padding: 1em;
		
	}
}

@media only screen and (max-width: 1124px) and (max-height: 1440px)  {
	body {
		font-size: 1.3em;
		padding: 1em;
	}
	header {
		width: 95vw;
	}
	.word {
		font-size: 1.6em;
	}
	img {
		left: 50%;
		margin-left: -540px;
		width: auto;
	}
	
	header img {
		min-height: 8%;
		min-width: 129px;
		width: 5%;
		height: auto;
		position: fixed;
		top: 0;
		left: 98%;
	}

	.addr-cpt {
		top: 0;
		right: 0;
	}

	.intro {
		left: 10%;
	}

	cite {
		font-size: 1em;
		left: 42%;
		top: 45%;
	}

	#share-t {
		top: 75%;
		right: 5%;
	}

	.brands {
		min-height: 8%;
		min-width: 64px;
		width: 25%;
		top: 88%;
    	left: 52%;
	}
	#share-t i {
		font-size:24px;
		color:white; 
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 111;
		top: 40%;
		left: 0%;
		padding: 1.2em;
		
	}
	
}

@media only screen and (max-width: 1124px) and (max-height: 868px) {
	body {
		font-size: 1.1em;
	}
	header {
		font-size: 1.4em;
		width: 97vw;
	}
	header img {
		left: 98%;
	}
	.slide img {
		margin-left: -60%;
	}
	.fab {
		top: 67%;
    	left: 48%;
	}
	cite {
		font-size: 1.4em;
		left: 42%;
    	top: 30%;
	}
	.word {
		font-size: 3.2em;
		top: 40%;
		left: 10%;
		width: 80vw;
		position: absolute;
		text-align: center;
	}
	.intro {
		font-size: 1.6em;
		left: 18%;
    	top: 50%;
	}
	.brands {
		top: 85%;
		min-width: 64px;
		width: 15%;
		left: 52%;
	}
	#share-t {
		top: 60%;
		display: block;
	}
	#share-t i {
		font-size:24px;
		color:white; 
		width: 100%;
		height: 100%;
		position: relative;
		z-index: 111;
		top: 40%;
		left: 0%;
		padding: 1em;
		
	}
}

@media only screen and (max-height: 1124px) and (max-width: 868px) {
	body {
		font-size: 1.2em;
	}
	header {
		display: flex;
		width: 100vw;
		left: 0%;
	}
	address {
		max-width: 37vw;
	}
	
	header img {
		left: 115%;
		min-width: 100px;
	}
	cite {
		top: 30%;
		left: 40%;
	}
	.word {
		top: -13%;
		left: 0%;
		font-size: 1.75em;
	}
	.intro {
		left: 7%;
		max-width: 30em;
		top: 40%;
	}
	.fab {
		top: 55%;
		left: 47%;
	}
	#share-t {
		top: 67%;
		right: 7%;
	}
	.brands {
		min-height: 6%;
		min-width: 48px;
		width: 25%;
		top: 88%;
		left: 70%;
	}
}

@media only screen and (max-width: 913px) and (max-height: 477px) {
	body {
		font-size: 0.7em;
	}
	header {
		top: -1em;
		position: relative;
		width: 110vw;
	}
	header img {
		left: 114vw;
		min-width: 60px;
	}
	address {
		max-width: 30em;
		line-height: 0.9em;
		font-size: 0.8em;
	}
	cite {
		left: 40%;
	}
	.word {
		top: 38%;
		left: 8%;
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 1.75em;
		width: 80vw;
	}
	.intro {
		left: 21%;
		top: 50%;
		font-size: 1.3em;
	}
	.fab {
		transform: scale(0.6);
		left: 47%;
		top: 70%;
	}
	.brands {
		top: 80%;
		left: 61%;
		transform: scale(0.6);
	}
	#share-t {
		transform: scale(0.7);
		top: 42%;
		right: 1%;
	}
}

@media only screen and (max-height: 913px) and (max-width: 477px) {
	body {
		font-size: 0.8em;
		position: static;
	}
	header {
		font-size: 0.9em;
		width: 80vw;
		top: 5%;
		left: 40vw;
		position: fixed;
		text-align: left;
	}
	header img {
		min-width: 115px;
		left: 144%;
	}
	address {
		position: relative;
		width: 35em;
		top: -4em;
		left: -2em;
		font-size: 1.2em;
	}
	.addr-cpt {
		position: relative;
		text-align: left;
		top: -4em;
		left: -4em;
	}
	.content {
		position: absolute;
	}
	cite {
		top: 27%;
		left: 30%;
		font-size: 1.2em;
	}
	.word {
		position: absolute;
		top: 30%;
		left: 5%;
		font-size: 2em;
		max-width: 90vw;
		line-height: 1.2em;
		margin: 10px;
		padding: 0;
		word-wrap: break-word;
	}
	.intro {
		left: 4%;
		max-width: 85vw;
		top: 45%;
		font-size: 1.4em;
	}
	.fab {
		left: 42%;
		top: 65%;
		transform: scale(0.8);
	}
	footer {
		position: absolute;
		width: 100%;
		height: auto;
	}
	#share-t {
		position: relative;
		top: 50%;
		left: 50%;
		transform: scale(0.6);
		margin: 0;
		padding: 0;
	}
	.brands {
		min-height: 6%;
		min-width: 80px;
		width: 35%;
		top: 88%;
		left: 170%;
	}
}


@media only screen and (max-width: 837px) and (max-height: 515px) {
	body {
		font-size: 0.8em;
		width: 100vw;
		height: auto;
	}
	header {
		display: flex;
		position: fixed;
		width: 104vw;
	}
	header img {
		left: 121%;
		top: 0%;
		min-width: 60px;
	}
	address {
		left: 2%;
	}
	.addr-cpt {
		text-align: right;
		top: 0%;
		left: 63%;
	}
	cite {
		top: 27%;
		left: 43%;
		font-size: 1em;
	}
	.intro {
		left: 21%;
		font-size: 1.2em;
	}
	.fab {
		transform: scale(0.6);
		top: 70%;
	}
	#share-t {
		transform: scale(0.7);
		top: 45%;
		right: -1%;
	}
	.brands {
		transform: scale(0.6);
		left: 68%;
		top: 80%;
	}
}

@media only screen and (max-width: 415px) and (max-height: 737px) {
	body {
		font-size: 0.8em;
	}
	header {
		left: 33vw;
	}
	header img {
		left: 126%;
		min-width: 85px;
	}
	.intro {
		left: 6%;
		max-width: 20em;
		top: 50%;
		text-align: center;
		font-size: 1.3em;
	}
	.word {
		position: absolute;
		top: 35%;
		left: 5%;
		font-size: 2em;
		max-width: 35em;
		line-height: 1.2em;
		margin: 10px;
		padding: 0;
		word-wrap: break-word;
	}
	.fab {
		top: 68%;
		left: 42%;
	}
	#share-t {
		right: 67%;
		top: 75%;
	}
	.brands {
		left: 158%;
		top: 85%;
	}
}

@media only screen and (max-width: 733px) and (max-height: 413px) {
	header img {
		left: 127%;
	}
	.addr-cpt {
		  margin: 0 10px;
	}
	.fab {
		left: 49%;
	}
	.brands {
		left: 75%;
	}
	#share-t {
		right: -1%;
		transform: scale(0.6);
	}
}

@media only screen and (max-width: 413px) and (max-height: 733px) {
	header img {
		left: 131%;
	}
	.fab {
		transform: scale(0.8);
	}
}

@media only screen and (max-width: 733px) and (max-height: 413px) {
	header img {
		left: 127%;
	}
	.brands {
		left: 75%;
	}
}

@media only screen and (max-width: 668px) and (max-height: 376px) {
	body {
		font-size: 0.7em;
		width: 100vw;
		height: auto;
	}
	header {
		display: flex;
		position: relative;
		width: 113vw;
		height: auto;
	}
	header img {
		left: 116%;
	}
	address {
		left: 0; 
	}
	.addr-cpt {
		left: 49%;
	}
	cite {
		top: 1%;
	}
	.word {
		top: 5%;
		left: 10%;
	}
	.intro {
		top: 15%;
		left: 18%;
		font-size: 1.2em;
	}
	.fab {
		top: 38%;
		left: 48%;
	}
	.brands {
		position: absolute;
		top: 80%;
    	left: 79%;
	}
	#share-t {
		right: -2%;
    	transform: scale(0.6);
	}
}

@media only screen and (max-width: 376px) and (max-height: 668px) {
	header {
		left: 29vw;
		top: 4vh;
		width: 90%;
		font-size: 0.7em;
	}
	header img {
		left: 144%;
	}
	address {
		line-height: 0.9em;
	}
	cite {
		top: 33%;
		left: 32%;
		font-size: 0.9em;
	}
	.word {
		position: absolute;
		top: 35%;
		left: 4%;
		font-size: 1.4em;
		max-width: 35em;
		line-height: 1.2em;
		margin: 10px;
		padding: 0;
		word-wrap: break-word;
	}
	.intro {
		left: 13%;
		top: 46%;
		font-size: 1em;
	}
	.fab {
		transform: scale(0.7);
		top: 60%;
		left: 41%;
	}
	#share-t {
		transform: scale(0.7);
		left: 25%;
	}
	.brands {
		left: 176%;
    	top: 84%;
	}
}
